/* Style for the hamburger icon */
.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333; /* Adjust color as needed */
    
    margin: 6px 0;
}

/* Style for the navigation menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000; /* Adjust background color as needed */
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #ffc400; /* Set the desired text color */
    font-family: 'Lora', serif; /* Use Lora font */
    font-weight: 600; /* Semibold font weight */
    font-style: italic; /* Italic font style */
    margin-right: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust top position as needed */
        left: 0;
        right: 0;
        background-color: #000; /* Set the background color to black */
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 3;
    }

    .nav-links.show {
        display: flex;
    }
}


/* Set background color of the website */
body {
    background-color: #14151a; /* Black background color */
}

/* Style paragraphs */
p {
    font-family: 'Inter', sans-serif;
    color: #fff; /* White text color */
    /* Add any additional styling you want for paragraphs */
}


/* Add this CSS to your existing styles.css */

h1 {
    font-family: 'Oswald', sans-serif;
    color: #ffc400;
    font-size: 3rem;
    /* Add any additional styling you want for h1 */
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #ffc400;
    font-size: 2rem;
    /* Add any additional styling you want for h2 */
}

h3 {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-style: italic;
    color: #ffc400;
    /* Add any additional styling you want for h3 */
}

h4 {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-style: italic;
    color: #7e7e7e;
    /* Add any additional styling you want for h4 */
}




.hero {
    background-image: url('/Wizards/Digital.png');
    background-size: cover;
    background-position: 50% top;
    color: white;
    padding-top: 0;
    position: relative;
    padding: 20vh 0; /* Modified padding to keep top and bottom as before */
    z-index: 1;
    display: flex; /* Added flex to center the text container */
    justify-content: center; /* Centering horizontally */
    align-items: center; /* Centering vertically */
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
    .hero {
        padding-bottom: 5vh; /* Apply padding only to the bottom for mobile */
    }

    /* Nested media query for width of 390px */
    @media (max-width: 390px) {
        .hero {
            /* Apply specific styles for screens with width up to 390px */
            /* For example: */
            background-position: -45vw top; /* Adjust background position */
            padding-bottom: 3vh; /* Adjust padding for smaller width */
        }
    }
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}



/* Add this CSS to your existing styles.css */

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-container {
    padding-left: 10vw;
    padding-right: 10vw;
    z-index: 2;
}

/* Set black background for specific sections */
#videoediting,
#motiongraphics,
#marketing,
#contact,
#footer {
    background-color: #000; /* Black background color */
    color: #fff; /* White text color for better readability */
    /* Add any additional styling you want for these sections */
}



/* Add padding to videos */
.videocontainer {
    position: relative;
    padding-bottom: 45%; /* 16:9 aspect ratio (height / width) */
    overflow: hidden;
    padding-left: 10vw; /* Add left padding */
    padding-right: 10vw; /* Add right padding */
}

.videocontainer iframe {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the video horizontally */
    width: 80%;
    height: 100%;
}

iframe {
    border: none;
}

/* Style for video gallery */
.video-entry {
    position: relative;
    padding-bottom: 45%; /* 16:9 aspect ratio (height / width) */
    overflow: hidden;
    padding-left: 10vw; /* Add left padding */
    padding-right: 10vw; /* Add right padding */
}

.video-entry iframe {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the video horizontally */
    width: 80%;
    height: 100%;
}
.video-gallery h4 {    
    padding-left: 10vw;
    padding-right: 10vw;
}

/* Add this CSS to your existing styles.css */

.see-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; /* Set the button background color to transparent */
    color: #ffc400; /* Set the button text color to ffc400 */
    text-decoration: none;
    font-weight: bold;
    border-radius: 0; /* Square off the edges */
    border: 1px solid #ffc400; /* Add a thin outline in ffc400 */
    margin-top: 20px; /* Add top margin for spacing */
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
}

.see-more-button:hover {
    background-color: #ffc400; /* Change background color on hover */
    color: #000; /* Change text color on hover */
}

/* Add this CSS to your existing styles.css */

/* Style for the button in the form */
form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; /* Set the button background color to transparent */
    color: #ffc400; /* Set the button text color to ffc400 */
    text-decoration: none;
    font-weight: bold;
    border-radius: 0; /* Square off the edges */
    border: 1px solid #ffc400; /* Add a thin outline in ffc400 */
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
    cursor: pointer; /* Add cursor pointer on hover */
}

form button:hover {
    background-color: #ffc400; /* Change background color on hover */
    color: #000; /* Change text color on hover */
}



footer {
    padding-left: 5vw;
    padding-right: 5vw;
}

